body {
  background-color: white;
}
table {
  margin: auto;
  padding: auto;
  align-items: center;
  width: 50rem;
  height: 40rem;
  background-color: #66ffff;
}
footer p {
  bottom: 0;
  text-align: center;
}
